@model WebProject2017.Models.SearchJourneyViewModel
@{
    ViewBag.Title = "JourneySearch";
}

<h3>Trajet</h3>

<section class="col-6 col-m-8">
    <h4>Recherche</h4>
    <form>
        <div class="groupForm">
            <label class="labelForm">Départ : </label>
            <input type="search" name="JourneyStart" />
        </div>
        <div class="groupForm">
            <label class="labelForm">Arrivé : </label>
            <input type="search" name="JourneyArrival" />
        </div>
        <div class="groupForm">
            <input class="btn" type="button" id="StartArrivalDate" value="Départ" onclick="changeValue('Départ','Arrivée')" />
            <input type="datetime-local" name="JourneyDate" />
        </div>
        <div class="groupForm col-">
            <input class="btn col-" type="submit" id="SendSearch" value="Recherche" />
        </div>
    </form>
    <div>
        <h5>Résultats :</h5>
        @foreach (var item in Model.Result)
        {
            using (Html.BeginForm("Profil", "Journey", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                <div class="journey col-6 col-m-12">
                    <label class="col-6 col-m-12" id="Start">Départ : @item.StartingDateTime : @item.StartingAddress.Locality</label>
                    <span>--></span>
                    <label class="col-6 col-m-12" id="Arrival">Arrivé : @item.DriverUpDatetime : @item.DriverUpAddress.Locality</label>
                    <label class="nbrSeat" id="nbrSeat">@item.FreeSeat place(s)</label>
                    <label class="price" id="nbrSeat">@item.Price €</label>
                    <input class="btn btn-bis col-" type="submit" id="SendSearch" value="Voyager" />
                </div>
            }
        }

    </div>
</section>
<section class="col-6 col-m-4">
    <h4>Mes trajets</h4>
    <input class="btn col-" type="submit" id="SendSearch" value="Ajouter un trajet" onclick="location.href='@Url.Action("AddJourney","Journey")'" />
      
    @foreach (var item in Model.JourneysUser)
    {
        using (Html.BeginForm("Profil", "Journey", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <div class="journey col-6 col-m-12">
                <label class="col-6 col-m-12" id="Start">Départ : @item.StartingDateTime : @item.StartingAddress.Locality</label>
                <span>--></span>
                <label class="col-6 col-m-12" id="Arrival">Arrivé : @item.DriverUpDatetime : @item.DriverUpAddress.Locality</label>
                <label class="nbrSeat" id="nbrSeat">@item.FreeSeat place(s)</label>
                <label class="price" id="nbrSeat">@item.Price €</label>
                <input class="btn btn-bis col-" type="submit" id="SendSearch" value="Editer" />
            </div>
        }
    }
</section>









